<div class="card new-card">Create new card...</div>

<div class='card create-card not-active clearfix' id="create-card">
  <div class="cancel">
    &times
  </div>
  <form class="form-new-card">
    <h3 class="create-card-header">Create card</h3>
    <table>
      <tr>
        <td>
          <label for="title">Title</label>
        </td>
        <td>
          <input type="text" id="title" name="card[title]" value="" >
        </td>
      </tr>
      <tr>
        <td>
          <label for="description">Description:&nbsp&nbsp</label>
        </td>
        <td>
          <input type="text" id="description" name="card[description]" value="" >
        </td>
      </tr>
    </table>


    <input type="hidden" name="card[list_id]" value="<%= list_id %>">

    <button class="create-new-card">Create</button>
  </form>
</div>
