<h4 class="create-board-header">Create Board</h4>
<form class="form-new-board">
  <label for="title">Title</label>
  <input type="text" id="title" name="board[title]" value="" placeholder='Like "Calvinball Meetup Schedule"...'>
  <h4>Organization</h4>
  <p>Organizations make sharing and working within a group even easier. It doesn’t look like you are a member of any organizations. Create an organization.</p>
  <p>This board will be private. Change.</p>
  <button class="button create-new-board">Create</button>
</form>